{% extends "baseP.html" %}

{% block titulo %} Inicio Docentes {% endblock %}

{% block contenido %} 

<link rel="stylesheet" href="../static/css/inicio.css">

    <div class="row row-cols-1 row-cols-md-3 g-3 container-inicio">
        <a href="{% url 'alumnos' %}">
            <div class="col">
                <div class="card card1">
                    <div class="card-body">
                        <p class="card-title">10</p>
                        <h5 class="card-text">Alumnos</h5>
                    </div>
                    <i class="fa-solid fa-user-gear"></i>
                </div>
            </div>
        </a>
        <a href="{% url 'grupos' %}">
            <div class="col">
                <div class="card card2">
                    <div class="card-body">
                        <p class="card-title">12</p>
                        <h5 class="card-text">Grupos</h5>
                    </div>
                    <i class="fa-solid fa-chalkboard-user"></i>
                </div>
            </div>
        </a>
        <a href="{% url 'horarios' %}">
            <div class="col">
                <div class="card card3">
                    <div class="card-body">
                        <p class="card-title">25</p>
                        <h5 class="card-text">Horarios</h5>
                    </div>
                    <i class="fa-solid fa-graduation-cap"></i>
                </div>
            </div>
        </a>
        <a href="{% url 'asistencias' %}">
            <div class="col">
                <div class="card card4">
                    <div class="card-body">
                        <p class="card-title">31</p>
                        <h5 class="card-text">Asistencias</h5>
                    </div>
                    <i class="fa-solid fa-graduation-cap"></i>
                </div>
            </div>
        </a>
        <a href="{% url 'justificantes' %}">
            <div class="col">
                <div class="card card5">
                    <div class="card-body">
                        <p class="card-title">15</p>
                        <h5 class="card-text">Justificantes</h5>
                    </div>
                    <i class="fa-solid fa-graduation-cap"></i>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="col">
                <div class="card card6">
                    <div class="card-body">
                        <p class="card-title">19</p>
                        <h5 class="card-text">Reportes Excel</h5>
                    </div>
                    <i class="fa-solid fa-graduation-cap"></i>
                </div>
            </div>
        </a>
    </div>

    <button type="button" class="btn btn-primary btn-lg btn-block">Pasar lista</button>
{% endblock %}
