{% extends "baseD.html" %}

{% block titulo %} Lista de Directivos {% endblock %}

{% block contenido %} 

<link rel="stylesheet" href="../static/css/index.css">

    <div class="card">
        <div class="card-header">
            <div class="titleTypeUser">
                <i class="fa-solid fa-user-gear"></i>
                <h4 class="">Directivos</h4>
            </div>
            <a name="" id="" class="btn btn-warning" href="{% url 'crear' %}" role="button"><i class="fa-solid fa-circle-plus"></i> Nuevo</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido P</th>
                            <th scope="col">Apellido M</th>
                            <th scope="col">Fecha Nac</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Area</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for directivo in directivos %}
                            <tr class="">
                                <td>{{ directivo.id }}</td>
                                <td>{{ directivo.nombre }}</td>
                                <td>{{ directivo.apellidoP }}</td>
                                <td>{{ directivo.apellidoM }}</td>
                                <td>{{ directivo.fechaNac|date:'Y-m-d' }}</td>
                                <td>{{ directivo.correo }}</td>
                                <td>{{ directivo.area }}</td>
                                <td>{{ directivo.userType }}</td>
                                <td>{{ directivo.user.username }}</td>
                                <td>
                                    <a name="" id="" class="btn btn-info" href="{% url 'editar' directivo.id%}" role="button"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a name="" id="" class="btn btn-danger btnDelete" href="{% url 'eliminar' directivo.id%}" role="button"><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="8">No hay registros</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
        <div class="card-footer text-muted">
            
        </div>
    </div>
{% endblock %}