{% extends "baseP.html" %}

{% block titulo %} Lista de Profesores {% endblock %}

{% block contenido %} 

<link rel="stylesheet" href="../static/css/index.css">

    <div class="card">
        <div class="card-header">
            <a name="" id="" class="btn btn-warning" href="{% url 'crearJ' %}" role="button"><i class="fa-solid fa-circle-plus"></i> Nuevo</a>
        </div>
        <div class="card-body">
            <h4 class="card-title">Justificantes</h4>
            <div class="table-responsive">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">FechaJusti</th>
                            <th scope="col">Motivo</th>
                            <th scope="col">Receta Médica</th>
                            <th scope="col">Matricula_Alumno</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for justificante in justificantes %}
                            <tr class="">
                                <td>{{ justificante.id }}</td>
                                <td>{{ justificante.fechaJusti|date:'Y-m-d' }}</td>
                                <td>{{ justificante.motivo }}</td>
                                <td>{{ justificante.receta}}</td>
                                <td>{{ justificante.alumno.nombre }}</td>
                                <td>
                                    <a name="" id="" class="btn btn-info" href="{% url 'editarJ' justificante.id%}" role="button"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a name="" id="" class="btn btn-danger" href="{% url 'eliminarJ' justificante.id%}" role="button"><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
        <div class="card-footer text-muted">
            
        </div>
    </div>
{% endblock %}