{% extends "baseD.html" %}

{% block titulo %} Lista de Profesores {% endblock %}

{% block contenido %} 

<link rel="stylesheet" href="../static/css/index.css">

    <div class="card">
        <div class="card-header">
            <div class="titleTypeUser">
                <i class="fa-solid fa-graduation-cap"></i>
                <!--<img src="http://127.0.0.1:8000/imagenes/imagenes/cerdo2.jpg" alt="" width="300" height="300">
                <h3>{{ user.is_staff }}mas</h3>-->
                <h4 class="">Alumnos</h4>
            </div>
            <a name="" id="" class="btn btn-warning" href="{% url 'crearA' %}" role="button"><i class="fa-solid fa-circle-plus"></i> Nuevo</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">Matricula</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">ApellidoP</th>
                            <th scope="col">ApellidoM</th>
                            <th scope="col">FechaNac</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Foto</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for alumno in alumnos %}
                            <tr class="">
                                <td>{{ alumno.matricula }}</td>
                                <td>{{ alumno.nombre }}</td>
                                <td>{{ alumno.apellidoP }}</td>
                                <td>{{ alumno.apellidoM }}</td>
                                <td>{{ alumno.fechaNac|date:'Y-m-d' }}</td>
                                <td>{{ alumno.correo }}</td>
                                <td>
                                    <img src="{{ alumno.imagen.url }}" width="70" height="70">
                                </td>
                                <td>{{ alumno.userType }}</td>
                                <td>{{ alumno.user.username }}</td>
                                <td>
                                    <a name="" id="" class="btn btn-info" href="{% url 'editarA' alumno.matricula%}" role="button"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a name="" id="" class="btn btn-danger" href="{% url 'eliminarA' alumno.matricula%}" role="button"><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="9">No hay registros</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
        <div class="card-footer text-muted">
            
        </div>
    </div>

{% endblock %}